@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

.container-full {
    max-width: 1391px;
    padding: 0 10px;
    margin: 0 auto;
}

.container {
    max-width: 1197px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */



/* HEADER */

/* HERO */



/* HERO */

/* INTRO */



/* INTRO */